body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: var(--text);
  padding: 3.2rem;
}

.f-s-bold {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-style: normal;
}

.f-p-light {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.f-p-normal {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.f-p-medium {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.f-p-semi-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.f-p-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, var(--primary-700), var(--primary-900));
  -webkit-background-clip: text;
  color: transparent;
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
