body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: var(--text);
  padding: 3.2rem;
}

.f-s-bold {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-style: normal;
}

.f-p-light {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.f-p-normal {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.f-p-medium {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.f-p-semi-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.f-p-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-style: normal;
}
