.border-radius-50 {
  border-radius: 50px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 7.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
