:root {
  --primary-900: #28b485; /*dark green*/
  --primary-900-08: rgba(40, 180, 131, 0.8); /*dark green*/
  --primary-800: #55c57a; /* primary medium green*/
  --primary-700: #7ed56f; /* light green*/
  --primary-700-08: rgba(126, 213, 111, 0.8); /*light green*/
  --secondary-light: #ffb900;
  --secondary-dark: #ff7030;
  --tertiary-light: #2998ff;
  --tertiary-dark: #5643fa;
  --white: #fff;
  --black: #111;
  --black-08: rgba(0, 0, 0, .8);
  --grey-light-1: #f7f7f7;
  --grey-light-2: #eeeeee;
  --text: #777;
  --grey-dark: #999;
  --grey-dark-3: #333;
  --success: #23c353;
  --error: #f53035;
}

$color-primary: var(--primary-800);
$color-primary-light: var(--primary-700);
$color-primary-dark: var(--primary-900);

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
